.jumbotron
  .container
    %h1 Welcome to LogVis!
    %p This application attempts to visualize particular logs.
    %p If you have no idea, what kind of logs are supported, then you are advised to close this app :D
    %p
      %a.btn.btn-primary.btn-lg{href: "/#/dashboard", :role => "button"} Continue »
